<li class="course-item">
  <div class="wrapper">
    <div class="cover-wrap">
      <img src="<%= item.img_url %>" alt="<%= item.course_name %>" />
    </div>
    <h1><%= item.course_name %></h1>
  </div>
</li>